@{
  Layout="_Layout";
}

@model TvShow.Models.Network

<h1>Add a Show to the @Model.NetworkName List!</h1>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.NetworkId)
  @Html.Label("Add a Show")
  <br>
  @Html.DropDownList("ShowId")
  <br>
  <br>
  <input type="submit" value="Add this Show!" class="btn btn-warning"/>
}
<br>
<h3>Shows Already in this Network:</h3>
@foreach (var join in Model.JoinEntities)
{
  @Html.ActionLink($"{join.Show.Title}", "Details", "Shows", new{ id = join.Show.ShowId}) 
  <br>
}
<br>
<p>@Html.ActionLink("Return to Network Page", "Details", "Networks", new{id = @Model.NetworkId})</p>