@{
  Layout = "_Layout";
}

@model TvShow.Models.Show

<h1>Edit @Model.Title</h1>

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.ShowId)
  @Html.Label("Title:")
  @Html.EditorFor(model => model.Title)
  <br>
  @Html.Label("Description:")
  @Html.EditorFor(model => model.Description)

  <input class="btn btn-warning" type="submit" value="Edit"/>
}
<p>@Html.ActionLink("Return to Show List", "Index")</p>